<footer class="footer has-text-light">
    <div class="columns is-centered">
        <div class="column is-10">
            <div class="columns is-centered ">
                <div class="column is-3 footer-column">
                    <h2>Openingstijden</h2>
                    <ul>
                        {{ range .Site.Params.openingstijden }}
                        <li>{{ . }}</li>
                        {{ end }}
                    <ul>
                </div>

                <div class="column is-3 footer-column">
                    <p class="">Bezoekadres</p>
                    <ul>
                        {{ range .Site.Params.adres }}
                        <li>{{ . }}</li>
                        {{ end }}
                    </ul>
                </div>

                <div class="column is-3 footer-column">
                    <p>Contact</p>
                    <ul>
                        {{ $email := split .Site.Params.email "dummy" }}
                        <li><a href="mailto:{{ .Site.Params.email }}" title=Email>{{ index ($email) 0 }}<span id="dummy">REMOVE</span>{{ index ($email) 1 }}</a></li>
                        <li>{{ .Site.Params.telefoon }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="content has-text-centered">
    <p>
      This website is handcrafted by <a href="https://www.biomatt.nl">@biomatt</a>
    </p>
    </div>
</footer>
