{{ define "main" }}

{{- partial "hero.html" . -}}

<!-- /.section -->
<section class="section" >
    <div class="container">
        <!--{{ partial "blog" . }} -->

        {{ partial "expositions" . }}

    </div>
</section>
<!-- /.section -->

<!--
<section id="newsletter" class="section is-medium">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column">
        <p class="title">Nieuwsbrief</p>
        <p class="subtitle is-4 has-text-light">Blijf op de hoogte</p>
      </div>

      <div class="column">
        <form action="http://listmonk.mysite.com/subscription/form" method="POST" accept-charset="utf-8">
          <div class="field is-grouped">
            <div class="control has-icons-left is-expanded">
              <input type="email" value="" name="email" class="input is-medium is-flat" placeholder="email adres" required>
              <span class="icon is-small is-left">
                  <svg xmlns="http://www.w3.org/2000/svg" class="feather" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>
              </span>
            </div>

            <div class="control">
              <div class="is-hidden">
                <input type="text" name="hp" id="hp">
              </div>
              <input type="hidden" name="l" value="694f7d33-7065-4f94-81f4-7d210c54fb1b" id="694f7">
              <button class="button is-medium is-link">
                <strong>Aanmelden</strong>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
-->

{{ end }}
