{{ define "main" }}

<section class="section">
  <div class="container">
    <h2 class="title has-text-centered">Contact</h2>
    <div class="columns has-text-light">
      <div class="column is-6">
        <h4 class="title is-spaced is-4"></h4>
        <p class="subtitle"></p>
        <div>
          <div class="media">
            <div class="media-left">
                <svg class="image feather">
                    <use xlink:href="/../feather-sprite.svg#map-pin"/>
                </svg>
            </div>
            <div class="media-content">
              <div class="content">
                <p>{{ index .Site.Params.adres 0 }}, {{ index .Site.Params.adres 1 }}</p>
              </div>
            </div>
          </div>
          <div class="media">
            <div class="media-left">
                <svg class="image feather">
                    <use xlink:href="/../feather-sprite.svg#phone-call"/>
                </svg>
            </div>
            <div class="media-content">
              <div class="content">
                <p>{{ .Site.Params.telefoon }}</p>
              </div>
            </div>
          </div>
          <div class="media">
            <div class="media-left">
                <svg class="image feather">
                    <use xlink:href="/../feather-sprite.svg#mail"/>
                </svg>
            </div>
            <div class="media-content">
              <div class="content">
                  {{ $email := split .Site.Params.email "dummy" }}
                  <p><a href="mailto:{{ .Site.Params.email }}" title=Email class="has-text-white">{{ index ($email) 0 }}<span id="dummy">REMOVE</span>{{ index ($email) 1 }}</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-5 is-offset-1">
        <form action="https://formspree.io/mvobvnqn" method="POST">
          <div class="field">
            <div class="control">
              <input class="input has-text-dark"  type="text" name="name" placeholder="Naam" required>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <input class="input has-text-dark" type="email" name="_replyto" placeholder="Email adres" required>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <textarea  name="message" class="textarea has-text-dark" rows="5" placeholder="Plaats hier je bericht.." required></textarea>
            </div>
          </div>
          <div class="field">
            <div class="control">
                <div class="is-hidden">
                  <input type="text" name="_gotcha" id="hp">
                </div>
              <input type="hidden" name="_language" value="nl" />
              <button class="button is-primary is-fullwidth" type="submit">Verstuur</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<section>
    <div id="map" style="width: 100%; height: 50vh;"></div>

    <script>
            var map = L.map('map');
            L.Icon.Default.imagePath = '../leaflet/';
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);

            var geojsonFeature = {
                "type": "Feature",
                "geometry": {{ .Site.Params.locatie | safeJS  }}
            };

            L.geoJSON(geojsonFeature).addTo(map);
            map.setView(new L.LatLng(geojsonFeature.geometry.coordinates[1], geojsonFeature.geometry.coordinates[0]), 12);

            L.marker(new L.LatLng(geojsonFeature.geometry.coordinates[1], geojsonFeature.geometry.coordinates[0])).addTo(map)
                .bindPopup("{{ .Site.Title }}<br \> {{ index .Site.Params.adres 0}}<br \> {{ index .Site.Params.adres 1}} ")
                .openPopup();
    </script>
</secton>
{{ end }}
